body{
    background-color: rgb(255, 255, 255);
    color:#DC8D6C;
}

.verde{
    color:#A1BAAA
}

section{
    background-color: antiquewhite;
}

.imagenes{
    width: 10vw;
    
    
 
}

.general{
    width: 9vw;
    border: 2px solid;
    border-radius: 50%;
    border-color: #DC8D6C;
}

.iconos{
    width: 8vw; 
    border: 2px solid;
    border-radius: 50%;
    border-color: #DC8D6C;
     
}

.pies{
    width: 40px; 
    height: 40px;  
}

.IMGfondo1{
    background-image: url(../IMG/fondo1.jpg);
    background-size:cover; 
    background-repeat:no-repeat;
}

.IMGfondo2{
    background-image: url(../IMG/fondo2.png);
    background-size:cover; 
    background-repeat:no-repeat;
}

.IMGfondo3{
    background-image: url(../IMG/fondo3.jpg);
    background-size:cover; 
    background-repeat:no-repeat;
}

.fondo{
    width: 80vw;
    background-color: white;
    opacity: 70%;
    height: 40vh;
}

.borde{
    border: 2px solid;
    border-radius: 2%;
    border-color: #DC8D6C;
    

}

span{
    color:#DC8D6C !important;
    text-decoration: none !important;
}
a{
    text-decoration: none !important; 
}